<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <div class="titulo">
    <h1>Login</h1>
    </div>
<form  class="container"  th:action="@{/auth-cookie/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="botones">
        <button class="button-3"  type="submit">Login</button>
<!--        <button  class="button-3red"   type="submit">Salir</button>-->
    </div>
</form>


<!--<form th:action="@{/logout}" method="post">-->
<!--    <div class="botones">-->
<!--       -->
<!--    </div>-->
<!--</form>-->
</body>
</html>